<%- include('partials/header') %>
<%- include('partials/nav') %>

<main>
  <h1><%= title %></h1>
  <% if (locals.currentUser) { %>
    <p>Welcome back, <%= currentUser.first_name %>!</p>
  <% } else { %>
    <p>Welcome to the clubhouse. Please log in to see the secret messages.</p>
  <% } %>
</main>

<%- include('partials/footer') %>